
    .active {
        fill: #a81717;
    }
    .link {
      stroke: #999;
      stroke-opacity: 0.6;
    }
    .passive {
      stroke: #fff;
      stroke-width: 1.5px;
      fill: #69b3a2;
    }
    text {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }



